.costs-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  background: rgb(219, 193, 198);
  background: linear-gradient(90deg, rgba(219, 193, 198, 0.05) 0%, rgba(19, 121, 192, 0.05) 50%, rgba(255, 239, 156, 0.05) 100%);
}

.expense-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: -1px 2px 10px 0px rgb(214, 214, 214, 0.5);
  background-color: #fff;
}


.expense-info__title {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 5px;
}

.expense-info__tag {
  font-size: 13px;
  color: rgb(168, 168, 168);
}

.expense-cost__price {
  font-size: 22px;
  font-weight: 600;
  text-align: right;
  padding-bottom: 5px;
}

.expense-date__text {
  font-size: 12px;
  color: rgb(168, 168, 168);
}